* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
 overflow-x: hidden;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #fff;
  color: #0077B5;
}


/* HomePage Css */
 .header{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: flex
 }

.container {
  display: grid;
  grid-template-columns: 20% 55% 25%; /* Left | Feed | Right */
  gap: 20px;
  width: 100%;

}
/* Left Sidebar */
.left-sidebar {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Feed */
.feed {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-height: 600px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Right Sidebar */
.right-sidebar {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}